.container {
	border-bottom: 2px solid grey;
	margin: 40px auto;
	padding-bottom: 40px;
}
.green-text {
	color: green;
}
.active-btn {
	background-color: green;
}
.modal {
	background: rgba(0,0,0,0.5);
	display: block;
}
.modal .my-modal {
	border: 1px solid grey;
	background: white;
	border-radius: 4px;
	box-shadow: 0 0 11px 0px black;
	max-width: 500px;
	margin: 0 auto;
}
.modal-title {
	font-weight: bold;
	font-size: 18px;
	float: left;
}